div {
  margin: 25px;
  border: 2px outset black;
  background-color: rgba(25, 25, 25, 0.5);
}
body {
  background-image: url('MainBackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family:Oblivion;
  font-size: 80%;
}
p {
  margin: 35px;
  color:#00ab47;
}
@font-face {
  font-family:"Oblivion";
  src: url("oblivionfont.ttf") format("truetype");
}